@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

:root{
    --main-color:rgba(20, 156, 241, 0.68); 

}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.main-color{
    color: var(--main-color);
}
.bg-main-color{
    background-color: var(--main-color);
}

.quantity button{
    border: none;
     background-color:white;
}

.cartsummary{
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
}

.summary-item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.summary-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}




.clear-btn{
    background-color: var(--main-color)!important;
    color: white!important;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.clear-btn:hover{
    background-color: white;
    color: var(--main-color);
    border:1px solid var(--main-color);
    padding: 10px;
    border-radius: 10px;
}






