@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

:root{
    --main-color:rgb(237 20 241 / 68%);  

}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.main-color{
    color: var(--main-color);
}

.profile{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

.profileLinks{
    width: 30%;
 
}

.profileLinks nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;


}
.profileLinks a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: white;
}

.userData{
    background-color: rgba(255, 255, 255, 0.642);
    width: 70%;
    padding: 20px;
}